<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089775815625-gb0d6cr7jvlo3f58ump9jgj1eid48oi7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAprfc52HMCd8Ray3C_3-yyOd0cLeSRMfU</string>
	<key>GCM_SENDER_ID</key>
	<string>1089775815625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobsmile.paintflag</string>
	<key>PROJECT_ID</key>
	<string>paint-the-flag-28599777</string>
	<key>STORAGE_BUCKET</key>
	<string>paint-the-flag-28599777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089775815625:ios:921eb1b787591c78b87618</string>
</dict>
</plist>